<h2>Welcome to PizzaShop!</h2>

<div class="row">

    <% @products.each do |p| %>
        <div class="col-md-3">
            <%= p.title %>
        </div>
    <% end %>

</div>


<button class="btn btn-danger" onclick="something()">Click Me!</button>
