<h2>Welcome to PizzaShop!</h2>

<div class="row">

    <% @products.each do |p| %>
        <div class="col-md-3">
            <div>
                <%= p.title %>
            </div>
            <div>
                <img src="<%= p.path_to_image %>" width="75%">
            </div>
            <div>
                <%= p.description %>
            </div>

        </div>
    <% end %>

</div>

<br>
<button class="btn btn-danger" onclick="something()">Click Me!</button>
